html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-brand{
    padding: 2px 0;
}
.navbar-brand img {
    height: auto;
    width: 46px;
}
.float-right {
    float: right;
}
.float-left{
    float: left;
}
.text-left{
    text-align: left;
}
.btn-region-overview:hover, .btn-city-forecast:hover, .btn-search-result:hover{
    background-color: cornflowerblue;
}
.city-search{
    display: inline-block;
    width: 75%;
}
.d-block{
    display: block;
}
.popup-region-title{
    text-align: center;
    display: block;
    font-size: xx-large;
}
.summary{
    text-align: center;
}
.btn-search-result{
    padding: 6px 24px;
    font-size: large;
    cursor: pointer ;
}
.search-links{
    overflow-y: auto;
    width: 100%;
    max-height: 350px;
}
.btn-search{
    padding: 1px 5% !important;
}

@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.95); }
    to { transform: scale(1); }
}

.search-pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.forecast-single{
    border: 2px outset darkorange;
    border-radius: 10px;
    margin-right: 5px;
    background-color: deepskyblue;
}
.forecast-date{
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    display: block;
    text-decoration-skip-ink: none;
}
.col-auto{
    text-align: center;
    max-width: 240px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.forecast-body p {
    font-size: large;
    border-bottom: 1px solid;
}
.separator{
    border-bottom: 2px solid yellow;
    display: block;
    width: 80%;
    margin: 15px auto 5px;
}
.last-pick {
    float: left;
    padding-top: 10px;
}
.d-none {
    display: none;
}


.select-gray {
    color: darkgray;
}

option {
    color: #000;
}